# Generated from https://openvan.camp/.well-known/openapi.json — do not edit by hand.
# That file is the single source of truth for the public API contract; this is a
# YAML rendering of it kept in the repository for convenience.
openapi: 3.0.3
info:
  title: OpenVan.camp AI Public API
  description: 'Curated read-only OpenAPI schema for AI agents. Use this API to retrieve current vanlife
    news stories, source articles, events, fuel prices, route fuel cost, toll roads (per-km rates, vignettes,
    toll bridges and tunnels, route toll estimate), public and school holidays with peak traffic days,
    travel hazards (UK FCDO travel advice level, GDACS natural disasters, NASA FIRMS active fires), power
    plugs and mains voltage by country (with campsite hook-up connector), customs rules on entry by car
    (verbatim official quotes), visa and border rules (including temporary vehicle import), currency rates,
    VanBasket food price index data, VanSky weather suitability data, and license plates of the world
    (formats, region codes, validation, ready SVG/PNG plate images). No authentication is required. Data
    is CC BY 4.0 and should be attributed to OpenVan.camp. Rate limit: 120 requests/minute per IP, except
    POST /api/route-cost at 30/minute, GET /api/hazards/fires at 30/minute and GET /api/tolls/route at
    20/minute (see X-RateLimit-Limit and X-RateLimit-Remaining response headers). Pass `?source=<integration-domain>`
    for attribution tracking.'
  version: 1.6.0
  termsOfService: https://openvan.camp/en/terms
  contact:
    name: OpenVan.camp
    email: hello@openvan.camp
    url: https://openvan.camp/en/developers
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  x-rateLimit:
    requests: 120
    window: 1m
    scope: per-ip
    response-headers:
      X-RateLimit-Limit: Allowed requests per window
      X-RateLimit-Remaining: Remaining requests in current window
    exceptions:
      POST /api/route-cost: 30 requests/minute
      GET /api/plates/{code}/random: 60 requests/minute
      GET /api/plates/{code}/plate.svg: 60 requests/minute
      GET /api/plates/{code}/plate.png: 60 requests/minute
      GET /api/tolls/route: 20 requests/minute
      GET /api/hazards/fires: 30 requests/minute
  x-attribution:
    required: false
    recommended: true
    parameter: source
    format: domain-or-app-name
    description: Include ?source=<your-domain-or-app-name> in every request. Helps OpenVan.camp track
      AI adoption and credit integrations in public reports.
    citation: OpenVan.camp (retrieved YYYY-MM-DD). https://openvan.camp
  x-changelog: https://openvan.camp/api/changelog.json
servers:
- url: https://openvan.camp
  description: Production
tags:
- name: Stories
  description: Aggregated vanlife news stories translated into multiple languages.
- name: Events
  description: Vanlife events, exhibitions, festivals, meetups, road trips and related source articles.
- name: Fuel Prices
  description: Current retail fuel prices by country.
- name: Toll Roads
  description: Toll road reference by country and toll cost estimates for a route.
- name: Holidays
  description: Public holidays, school holidays by region and official peak traffic days by country.
- name: Travel Hazards
  description: 'Current travel situation: UK FCDO travel advice level, GDACS natural disasters and NASA
    FIRMS active fires. Situation now, not a forecast.'
- name: Electricity
  description: Power plug types (IEC A–N), mains voltage and frequency by country, plus the campsite hook-up
    connector in Europe.
- name: Customs
  description: 'Customs rules on entry by car: banned goods, cash declaration, alcohol, tobacco, fuel
    in a canister — each with a verbatim official quote and source.'
- name: Currency Rates
  description: Exchange rates relative to EUR.
- name: VanBasket
  description: Food price index by country, relative to world average.
- name: VanSky
  description: Weather suitability data for van travel.
- name: Visa
  description: 'Visa and border rules: entry mode, length of stay, counting window, temporary vehicle
    import.'
- name: License Plates
  description: 'License plates of the world: formats, region codes, validation and ready plate images
    (SVG/PNG).'
paths:
  /api/stories:
    get:
      tags:
      - Stories
      operationId: listStories
      summary: List vanlife news stories
      description: Returns a paginated list of active vanlife news stories. Titles and summaries are localized.
        Add source=<integration-name-or-domain> for attribution tracking.
      parameters:
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      - name: category
        in: query
        description: 'Category slug. One of: lifestyle, industry, incident, opening, closing, law, builds,
          festival, expo, review, ban, other.'
        schema:
          type: string
      - name: country
        in: query
        description: ISO 3166-1 alpha-2 country code.
        schema:
          type: string
          minLength: 2
          maxLength: 2
        example: DE
      - name: search
        in: query
        description: Full-text search by story title.
        schema:
          type: string
        example: vanlife festival
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/StoryLimit'
      responses:
        '200':
          description: Paginated story list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoriesResponse'
  /api/story/{slug}:
    get:
      tags:
      - Stories
      operationId: getStory
      summary: Get one vanlife news story
      description: Returns one story with localized title and summary, plus original source articles.
      parameters:
      - $ref: '#/components/parameters/StorySlug'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Story details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Story'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/events:
    get:
      tags:
      - Events
      operationId: listEvents
      summary: List vanlife events
      description: Returns a paginated list of vanlife events. Useful for exhibitions, festivals, meetups,
        rallies, expos and road trips.
      parameters:
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      - name: status
        in: query
        description: Event time status.
        schema:
          type: string
          enum:
          - upcoming
          - ongoing
          - past
          - all
          default: upcoming
      - name: type
        in: query
        description: Event type.
        schema:
          type: string
          enum:
          - expo
          - festival
          - forum
          - meetup
          - roadtrip
      - name: country
        in: query
        description: ISO 3166-1 alpha-2 country code.
        schema:
          type: string
          minLength: 2
          maxLength: 2
        example: DE
      - name: search
        in: query
        description: Search by event name.
        schema:
          type: string
        example: Caravan Salon
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/EventLimit'
      responses:
        '200':
          description: Paginated event list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
  /api/event/{slug}:
    get:
      tags:
      - Events
      operationId: getEvent
      summary: Get one vanlife event
      description: Returns event details including dates, location, description, official URL, social
        links and localized fields.
      parameters:
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/event/{slug}/articles:
    get:
      tags:
      - Events
      operationId: getEventArticles
      summary: Get source articles for one event
      description: Returns source articles linked to the event. If no articles match the requested locale,
        all published source articles may be returned.
      parameters:
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Event source articles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SourceArticle'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/fuel/prices:
    get:
      tags:
      - Fuel Prices
      operationId: getFuelPrices
      summary: Get current fuel prices by country
      description: Returns current retail fuel prices by country. Price keys follow the runtime FuelGradeCatalog::ORDER
        plus the legacy premium alias. Prices are cached and include source attribution.
      x-fuel-price-keys:
      - gasoline_regular
      - gasoline
      - gasoline_premium
      - gasoline_super
      - diesel_regular
      - diesel
      - diesel_premium
      - lpg
      - cng
      - e85
      - kerosene
      - premium
      parameters:
      - name: country
        in: query
        required: false
        description: 'ISO 3166-1 alpha-2 code: return one country only. Unknown code returns 404.'
        schema:
          type: string
          minLength: 2
          maxLength: 2
        example: TR
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Fuel prices by country code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuelPricesResponse'
        '404':
          description: No fuel prices for this country code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/currency/rates:
    get:
      tags:
      - Currency Rates
      operationId: getCurrencyRates
      summary: Get exchange rates
      description: Returns exchange rates for 150+ currencies relative to EUR.
      parameters:
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Currency rates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyRatesResponse'
  /api/vanbasket/countries:
    get:
      tags:
      - VanBasket
      operationId: listVanBasketCountries
      summary: List VanBasket food price index by country
      description: Returns food price index for countries relative to world average. World average is
        100.
      parameters:
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: VanBasket countries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VanBasketCountriesResponse'
  /api/vanbasket/compare:
    get:
      tags:
      - VanBasket
      operationId: compareVanBasketCountries
      summary: Compare food prices between two countries
      description: Compares VanBasket food price index values between two countries.
      parameters:
      - $ref: '#/components/parameters/Source'
      - name: from
        in: query
        required: true
        description: Home country ISO 3166-1 alpha-2 code.
        schema:
          type: string
          minLength: 2
          maxLength: 2
        example: DE
      - name: to
        in: query
        required: true
        description: Destination country ISO 3166-1 alpha-2 code.
        schema:
          type: string
          minLength: 2
          maxLength: 2
        example: TR
      responses:
        '200':
          description: VanBasket comparison
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VanBasketCompareResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/vanbasket/countries/{code}:
    get:
      tags:
      - VanBasket
      operationId: getVanBasketCountry
      summary: Get VanBasket country details
      description: Returns VanBasket data and historical snapshots for one country.
      parameters:
      - $ref: '#/components/parameters/CountryCode'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: VanBasket country details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VanBasketCountryResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/vansky/weather:
    get:
      tags:
      - VanSky
      operationId: listVanSkyWeather
      summary: List VanSky weather suitability by country
      description: Returns country-level weather suitability data for van travel.
      responses:
        '200':
          description: VanSky countries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VanSkyCountriesResponse'
  /api/vansky/weather/{code}:
    get:
      tags:
      - VanSky
      operationId: getVanSkyCountryWeather
      summary: Get VanSky weather suitability for one country
      description: Returns detailed VanSky weather suitability data for one ISO 3166-1 alpha-2 country
        code.
      parameters:
      - $ref: '#/components/parameters/CountryCode'
      responses:
        '200':
          description: VanSky country details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VanSkyCountryResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/news/search:
    get:
      tags:
      - Stories
      operationId: searchStories
      summary: Semantic news search
      description: Semantic (embedding) search over aggregated news stories — the same engine as the on-site
        search. Returns stories ranked by similarity, in the same shape as /api/stories.
      parameters:
      - name: q
        in: query
        required: true
        description: Search query.
        schema:
          type: string
        example: ford camper 2026
      - $ref: '#/components/parameters/Locale'
      - name: limit
        in: query
        required: false
        description: Max results, 1-15. Defaults to 8.
        schema:
          type: integer
        example: '8'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Matching stories ranked by similarity
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/news/digest:
    get:
      tags:
      - Stories
      operationId: getNewsDigest
      summary: Daily news digest
      description: Structured daily news digest assembled once per evening. Available for en and ru; returns
        204 when no digest exists yet for the locale.
      parameters:
      - name: locale
        in: query
        required: false
        description: 'Digest language: en or ru. Defaults to ru.'
        schema:
          type: string
        example: en
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Digest groups with stories
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '204':
          description: No digest for this locale yet
  /api/route-cost:
    post:
      tags:
      - Fuel Prices
      operationId: calculateRouteCost
      summary: Fuel cost for a route
      description: 'Fuel cost for a route of 2-10 waypoints given by place name: per-country prices along
        the way, refuel suggestions near borders, and the total in the requested currency.'
      parameters:
      - $ref: '#/components/parameters/Source'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - waypoints
              properties:
                waypoints:
                  type: array
                  items:
                    type: string
                  minItems: 2
                  maxItems: 10
                  description: Place names in travel order.
                  example:
                  - Berlin
                  - Prague
                tank:
                  type: number
                  description: Tank volume, litres.
                  example: 80
                cons:
                  type: number
                  description: Consumption, litres per 100 km.
                  example: 10
                fuel:
                  type: string
                  description: diesel | gasoline | lpg.
                  example: diesel
                currency:
                  type: string
                  description: ISO 4217 code for the total.
                  example: EUR
                locale:
                  type: string
                  description: Language of country names.
                  example: en
      responses:
        '200':
          description: Route legs, per-country fuel cost and total
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '422':
          $ref: '#/components/responses/ValidationError'
          description: Validation error, unknown currency, or a waypoint could not be geocoded
        '502':
          description: No road route could be built between the waypoints (e.g. across an ocean)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/tolls/countries:
    get:
      tags:
      - Toll Roads
      operationId: getTollCountries
      summary: List toll road reference by country
      description: 'Every covered country: payment system (closed ticket, open, free-flow, vignette, free),
        per-km rates by vehicle class (car, van up to 3.5 t, heavy over 3.5 t), vignettes, verification
        date and source. Prices in local currency plus EUR at the current rate.'
      parameters:
      - name: locale
        in: query
        required: false
        description: 'Language of names: en, ru, de, fr, es, pt, tr.'
        schema:
          type: string
          enum:
          - en
          - ru
          - de
          - fr
          - es
          - pt
          - tr
          default: en
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Toll countries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TollCountriesResponse'
  /api/tolls/countries/{code}:
    get:
      tags:
      - Toll Roads
      operationId: getTollCountry
      summary: Get toll roads of one country
      description: 'Full reference for one country: rates, all vignette durations, concession sections
        with own rates, toll bridges, tunnels and passes with coordinates and prices by vehicle class.'
      parameters:
      - $ref: '#/components/parameters/CountryCode'
      - name: locale
        in: query
        required: false
        description: 'Language of names: en, ru, de, fr, es, pt, tr.'
        schema:
          type: string
          enum:
          - en
          - ru
          - de
          - fr
          - es
          - pt
          - tr
          default: en
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Toll country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TollCountryResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/tolls/route:
    get:
      tags:
      - Toll Roads
      operationId: getRouteTolls
      summary: Estimate toll cost for a route
      description: 'Builds a road route from 2-10 place names (city, address or country = its capital)
        and estimates tolls: per-km sections, concessions, vignettes, bridges and tunnels. Returns a EUR
        range. partial=true means some countries on the route have no toll data yet. Rate limit 20/minute.'
      parameters:
      - name: waypoints
        in: query
        required: true
        description: 2-10 place names separated by |
        schema:
          type: string
        example: Rome|Paris
      - name: vehicle_class
        in: query
        required: false
        description: car; van = campervan/motorhome up to 3.5 t (default); heavy = over 3.5 t.
        schema:
          type: string
          enum:
          - car
          - van
          - heavy
          default: van
      - name: locale
        in: query
        required: false
        description: 'Language of names: en, ru, de, fr, es, pt, tr.'
        schema:
          type: string
          enum:
          - en
          - ru
          - de
          - fr
          - es
          - pt
          - tr
          default: en
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Route toll estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TollRouteResponse'
        '422':
          description: Validation error, a place name could not be geocoded (error=geocode), or no road
            route exists (error=route_not_found, too_far, closed_border, same_point)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Routing temporarily unavailable (error=routing_unavailable), retry later
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/holidays/countries:
    get:
      tags:
      - Holidays
      operationId: getHolidayCountries
      summary: List countries with holiday data
      description: 'Coverage by country and kind: `public` — public holidays (Nager.Date, 200+ countries),
        `school` — school holidays by region (OpenHolidays API, ~30 countries), `traffic` — official peak
        traffic forecast days (France, Bison Futé).'
      parameters:
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Holiday coverage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HolidayCountriesResponse'
  /api/holidays/countries/{code}:
    get:
      tags:
      - Holidays
      operationId: getHolidays
      summary: Get holidays of one country for a period
      description: 'Public holidays, school holidays and peak traffic days in date order. School holidays
        are often regional: `nationwide=false` and `regions` lists ISO 3166-2 codes. For `traffic`, `details`
        holds the day colour for departures and returns (green, orange, red, black). A country without
        data returns 404 with `covered=false` — that means no data, not "no holidays".'
      parameters:
      - $ref: '#/components/parameters/CountryCode'
      - name: from
        in: query
        required: false
        description: Start of the period, YYYY-MM-DD. Defaults to today.
        schema:
          type: string
          format: date
        example: '2026-07-01'
      - name: to
        in: query
        required: false
        description: End of the period, YYYY-MM-DD. Defaults to from + 90 days; at most 400 days after
          from.
        schema:
          type: string
          format: date
        example: '2026-08-31'
      - name: kind
        in: query
        required: false
        description: Only one kind of entries.
        schema:
          type: string
          enum:
          - public
          - school
          - traffic
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Holidays for the period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HolidaysResponse'
        '404':
          description: No holiday data for this country (covered=false)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HolidaysResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/hazards/countries/{code}:
    get:
      tags:
      - Travel Hazards
      operationId: getTravelHazards
      summary: Get travel advice level and current disasters in a country
      description: 'UK FCDO travel advice level (`advisory.level`, mildest to strictest: none, avoid_all_but_essential_travel_to_parts,
        avoid_all_but_essential_travel_to_whole_country, avoid_all_travel_to_parts, avoid_all_travel_to_whole_country)
        and current GDACS disasters: `type` FL flood, EQ earthquake, TC tropical cyclone, WF wildfire,
        DR drought, VO volcano; `alert_level` green / orange / red. Situation now, not a forecast.'
      parameters:
      - $ref: '#/components/parameters/CountryCode'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Travel hazards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HazardsCountryResponse'
  /api/hazards/fires:
    get:
      tags:
      - Travel Hazards
      operationId: getActiveFires
      summary: Get active fires in a bounding box
      description: 'NASA FIRMS VIIRS satellite fire detections (NOAA-20, Suomi NPP) for the last 48 hours,
        low-confidence points excluded. `frp` is fire radiative power in MW: single digits — a small fire
        or a flare, tens and hundreds — a real wildfire. Box up to 10°×10°. Rate limit 30 requests/minute.'
      parameters:
      - name: bbox
        in: query
        required: true
        description: west,south,east,north in degrees; at most 10° on each side.
        schema:
          type: string
        example: 29,36,33,38
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Active fires
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiresResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '503':
          description: NASA FIRMS is not responding, try later
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/electricity/countries:
    get:
      tags:
      - Electricity
      operationId: getElectricityCountries
      summary: List power plugs and mains voltage by country
      description: Plug types by IEC letter (A–N), nominal voltage (V) and frequency (Hz) for 220+ countries,
        plus the campsite hook-up connector in Europe (CEE17, the blue three-pin 16 A socket).
      parameters:
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Electricity by country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElectricityCountriesResponse'
  /api/electricity/countries/{code}:
    get:
      tags:
      - Electricity
      operationId: getElectricityCountry
      summary: Get power plugs and mains voltage of one country
      description: Plug types, voltage and frequency with the source of the value (Wikipedia article revision)
        and the Wikidata answer for cross-checking, plus campsite hook-up info.
      parameters:
      - $ref: '#/components/parameters/CountryCode'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Electricity of one country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElectricityCountryResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/customs/countries:
    get:
      tags:
      - Customs
      operationId: getCustomsCatalog
      summary: List customs jurisdictions and blocs
      description: Customs blocs (EU, EAEU) with member countries, and jurisdictions that have rules with
        their topics. Bloc rules apply to every member when entering from outside the bloc.
      parameters:
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Customs catalog
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomsCatalogResponse'
  /api/customs/countries/{code}:
    get:
      tags:
      - Customs
      operationId: getCustomsRules
      summary: Get customs rules on entry into a country by car
      description: 'Rules of the country and its bloc: banned goods, cash declaration, alcohol, tobacco,
        goods value, fuel in a canister. Each item carries a verbatim quote of the official source, its
        URL and the check date. With `from`, rules account for where you come from: no customs inside
        the EU, and the EU meat and dairy ban does not apply to travellers from Switzerland, Norway, Iceland,
        Andorra, San Marino and Liechtenstein. A country without data returns 404 with `covered=false`
        — that means no data, not "nothing is restricted".'
      parameters:
      - name: code
        in: path
        required: true
        description: ISO 3166-1 alpha-2 code of the country you enter.
        schema:
          type: string
          minLength: 2
          maxLength: 2
        example: PL
      - name: from
        in: query
        required: false
        description: ISO 3166-1 alpha-2 code of the country you are coming from.
        schema:
          type: string
          minLength: 2
          maxLength: 2
        example: UA
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Customs rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomsCountryResponse'
        '404':
          description: No customs data for this country (covered=false)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomsCountryResponse'
  /api/visa/check:
    get:
      tags:
      - Visa
      operationId: checkVisa
      summary: Entry rules for one passport and destination
      description: Entry mode, allowed length of stay, how the days are counted (per entry or in a rolling
        window), whether a visa run resets the counter, plus temporary vehicle import and green card rules.
        Every answer carries its source layer and confidence.
      parameters:
      - name: passport
        in: query
        required: true
        description: ISO 3166-1 alpha-2 code of the passport.
        schema:
          type: string
        example: RU
      - name: destination
        in: query
        required: true
        description: ISO alpha-2 code, slug or zone code of the destination.
        schema:
          type: string
        example: TR
      - name: weight
        in: query
        required: false
        description: 'Vehicle weight class for the vehicle rule: le35 (<=3.5t) or gt35.'
        schema:
          type: string
        example: le35
      - name: plate
        in: query
        required: false
        description: 'Vehicle plate origin for the vehicle rule: eu, non_eu, eaeu, third.'
        schema:
          type: string
        example: third
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Entry rules for the pair
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/visa/route:
    get:
      tags:
      - Visa
      operationId: checkVisaRoute
      summary: Visa rules for a whole route
      description: Rules for every country of a route in one call, for up to 10 passports at once. Returns
        the bottleneck leg when a single passport is requested.
      parameters:
      - name: t
        in: query
        required: true
        description: Countries in travel order, comma separated ISO alpha-2 codes, slugs or zone codes.
          Up to 12.
        schema:
          type: string
        example: RU,GE,TR
      - name: p
        in: query
        required: false
        description: Passports to answer for, comma separated, up to 10. Defaults to the set matching
          locale.
        schema:
          type: string
        example: RU,BY,KZ
      - name: w
        in: query
        required: false
        description: 'Vehicle weight class: le35 or gt35.'
        schema:
          type: string
        example: le35
      - name: plate
        in: query
        required: false
        description: 'Vehicle plate origin for the vehicle rule: eu, non_eu, eaeu, third.'
        schema:
          type: string
        example: third
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Per-leg rules, bottleneck and passports
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/visa/rank:
    get:
      tags:
      - Visa
      operationId: getPassportRanking
      summary: Passport ranking by visa-free access
      description: All 199 passports ranked by the number of destinations reachable without a visa.
      parameters:
      - name: limit
        in: query
        required: false
        description: How many rows to return, 1-199. Defaults to all.
        schema:
          type: integer
        example: '10'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Ranked passports
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/visa/history:
    get:
      tags:
      - Visa
      operationId: getVisaHistory
      summary: Change log of the visa dataset
      description: What changed in the visa data, when, and from which source. Use it to tell a rule update
        from a data correction.
      parameters:
      - name: subject_type
        in: query
        required: false
        description: 'Filter: requirement, window, window_exception, curated_rule, vehicle_rule, place.'
        schema:
          type: string
        example: requirement
      - name: subject_key
        in: query
        required: false
        description: Filter by subject, e.g. RU>TR for a pair or TR for a place.
        schema:
          type: string
        example: RU>TR
      - name: since
        in: query
        required: false
        description: ISO date, only changes on or after it.
        schema:
          type: string
        example: '2026-01-01'
      - name: limit
        in: query
        required: false
        description: Rows to return, 1-500. Defaults to 100.
        schema:
          type: integer
        example: '50'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Dataset changes, newest first
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '422':
          description: Invalid `since` date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/visa/passport/{code}:
    get:
      tags:
      - Visa
      operationId: getPassportDestinations
      summary: All destinations for one passport
      description: 199 destinations resolved through the full rule chain, sorted by name, with counts
        by entry mode in meta.
      parameters:
      - name: code
        in: path
        required: true
        description: ISO 3166-1 alpha-2 code of the passport.
        schema:
          type: string
        example: DE
      - name: mode
        in: query
        required: false
        description: 'Filter by entry mode: visa_free, visa_required, e_visa, eta, voa, no_admission.'
        schema:
          type: string
        example: visa_free
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Destinations for the passport
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
  /api/visa/map/{code}:
    get:
      tags:
      - Visa
      operationId: getVisaMap
      summary: Entry mode per country for one passport
      description: 'Compact payload for colouring a world map: m — entry mode, d — visa-free days if known.'
      parameters:
      - name: code
        in: path
        required: true
        description: ISO 3166-1 alpha-2 code of the passport.
        schema:
          type: string
        example: DE
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Entry mode per destination
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
  /api/visa/vehicle/{place}:
    get:
      tags:
      - Visa
      operationId: getVehicleImportRules
      summary: Temporary vehicle import rules for a country
      description: 'Temporary admission rules for a foreign-plated vehicle: allowed days, whether the
        limit is per entry or in a window, carnet requirement, green card. Only rules backed by an official
        source or verification are returned; an unverified country returns an empty list rather than a
        guess.'
      parameters:
      - name: place
        in: path
        required: true
        description: ISO alpha-2 code, slug or zone code.
        schema:
          type: string
        example: georgia
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Vehicle import rules
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
  /api/plates:
    get:
      tags:
      - License Plates
      operationId: listLicensePlateCountries
      summary: List countries with license plates
      description: 'Countries whose license plates are available: international code, plate size, example
        plate with image URLs, how the region is shown and the number of regions.'
      parameters:
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Countries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicensePlatesCatalogResponse'
  /api/plates/{code}:
    get:
      tags:
      - License Plates
      operationId: getLicensePlateCountry
      summary: Get a country's license plate
      description: Plate passport (standard, size, how to read the plate, history), every region with
        its plate codes and ISO 3166-2 unit, sources, and the browser engine that draws the plate on your
        own page.
      parameters:
      - name: code
        in: path
        required: true
        description: ISO 3166-1 alpha-2 country code, e.g. ru.
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
        example: ru
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Country plate data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicensePlateCountryResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/plates/{code}/types:
    get:
      tags:
      - License Plates
      operationId: listLicensePlateTypes
      summary: List plate types
      description: Divisions of the country's plates — private, taxi, motorcycle, diplomatic and so on
        — each with its own example, colors and size where they differ from the standard passport. Countries
        without a breakdown return an empty list.
      parameters:
      - name: code
        in: path
        required: true
        description: ISO 3166-1 alpha-2 country code, e.g. th.
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
        example: th
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Plate types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicensePlateTypesResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/plates/{code}/validate:
    get:
      tags:
      - License Plates
      operationId: validateLicensePlate
      summary: Validate a license plate
      description: Checks a number against the country's format, normalizes look-alike letters and resolves
        the region code to a region name.
      parameters:
      - name: code
        in: path
        required: true
        description: ISO 3166-1 alpha-2 country code, e.g. ru.
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
        example: ru
      - name: number
        in: query
        required: true
        description: Plate number without the region; look-alike Latin letters are normalized (A123BC
          → А123ВС on Russian plates).
        schema:
          type: string
          maxLength: 32
        example: A123BC
      - name: region
        in: query
        description: Region code, if the country shows one on the plate.
        schema:
          type: string
          maxLength: 32
        example: '77'
      - name: type
        in: query
        description: Plate type key from GET /api/plates/{code}/types (e.g. taxi). Default type if omitted;
          unknown key returns 422 invalid_type.
        schema:
          type: string
        example: taxi
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicensePlateValidateResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Unknown plate type (see GET /api/plates/{code}/types)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/plates/{code}/random:
    get:
      tags:
      - License Plates
      operationId: randomLicensePlate
      summary: Random license plate
      description: A random plate in the current format with a real region code, plus image URLs. Rate
        limit 60 requests/minute.
      parameters:
      - name: code
        in: path
        required: true
        description: ISO 3166-1 alpha-2 country code, e.g. ru.
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
        example: ru
      - name: type
        in: query
        description: Plate type key from GET /api/plates/{code}/types (e.g. taxi). Default type if omitted;
          unknown key returns 422 invalid_type.
        schema:
          type: string
        example: taxi
      - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Random plate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicensePlateRandomResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Unknown plate type (see GET /api/plates/{code}/types)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/plates/{code}/plate.svg:
    get:
      tags:
      - License Plates
      operationId: getLicensePlateSvg
      summary: License plate image (SVG)
      description: 'The plate drawn exactly as on openvan.camp by the same engine: plate typeface as vector
        outlines (no fonts to install), physical size in millimetres in the SVG. Embed with <img src>.
        Available for countries whose plate typeface license allows redistribution (glyphs_license free
        or sharealike). Rate limit 60 requests/minute.'
      parameters:
      - name: code
        in: path
        required: true
        description: ISO 3166-1 alpha-2 country code, e.g. ru.
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
        example: ru
      - name: number
        in: query
        required: true
        description: Plate number without the region; look-alike Latin letters are normalized (A123BC
          → А123ВС on Russian plates).
        schema:
          type: string
          maxLength: 32
        example: A123BC
      - name: region
        in: query
        description: Region code, if the country shows one on the plate.
        schema:
          type: string
          maxLength: 32
        example: '77'
      - name: custom
        in: query
        description: 1 = draw any text (e.g. a name) in the plate layout instead of returning 422.
        schema:
          type: boolean
          default: false
      - name: type
        in: query
        description: Plate type key from GET /api/plates/{code}/types (e.g. taxi). Default type if omitted;
          unknown key returns 422 invalid_type.
        schema:
          type: string
        example: taxi
      - name: v
        in: query
        description: Engine version from image URLs returned by the API. Images are cached as immutable;
          a new engine version means a new URL.
        schema:
          type: string
      responses:
        '200':
          description: SVG image
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        '403':
          description: Plate typeface of this country may not be redistributed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Number does not match the country format (pass custom=1 to draw any text), or unknown
            type (see GET /api/plates/{code}/types)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/plates/{code}/plate.png:
    get:
      tags:
      - License Plates
      operationId: getLicensePlatePng
      summary: License plate image (PNG)
      description: Same plate as the SVG endpoint, rasterized with a transparent background. Rate limit
        60 requests/minute.
      parameters:
      - name: code
        in: path
        required: true
        description: ISO 3166-1 alpha-2 country code, e.g. ru.
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
        example: ru
      - name: number
        in: query
        required: true
        description: Plate number without the region; look-alike Latin letters are normalized (A123BC
          → А123ВС on Russian plates).
        schema:
          type: string
          maxLength: 32
        example: A123BC
      - name: region
        in: query
        description: Region code, if the country shows one on the plate.
        schema:
          type: string
          maxLength: 32
        example: '77'
      - name: custom
        in: query
        description: 1 = draw any text (e.g. a name) in the plate layout instead of returning 422.
        schema:
          type: boolean
          default: false
      - name: width
        in: query
        description: PNG width in pixels.
        schema:
          type: integer
          minimum: 200
          maximum: 2000
          default: 800
      - name: type
        in: query
        description: Plate type key from GET /api/plates/{code}/types (e.g. taxi). Default type if omitted;
          unknown key returns 422 invalid_type.
        schema:
          type: string
        example: taxi
      - name: v
        in: query
        description: Engine version from image URLs returned by the API. Images are cached as immutable;
          a new engine version means a new URL.
        schema:
          type: string
      responses:
        '200':
          description: PNG image
          content:
            image/png:
              schema:
                type: string
                format: binary
        '403':
          description: Plate typeface of this country may not be redistributed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Number does not match the country format (pass custom=1 to draw any text), or unknown
            type (see GET /api/plates/{code}/types)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  parameters:
    Locale:
      name: locale
      in: query
      description: Language for localized fields. Defaults to en.
      schema:
        type: string
        enum:
        - en
        - ru
        - de
        - fr
        - es
        - pt
        - tr
        default: en
    Source:
      name: source
      in: query
      description: Optional integration name or domain for attribution tracking.
      schema:
        type: string
        maxLength: 100
      example: myapp.com
    Page:
      name: page
      in: query
      description: Page number.
      schema:
        type: integer
        minimum: 1
        default: 1
    StoryLimit:
      name: limit
      in: query
      description: Stories per page. Maximum 50.
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 20
    EventLimit:
      name: limit
      in: query
      description: Events per page. Maximum 100.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 30
    StorySlug:
      name: slug
      in: path
      required: true
      description: Story slug.
      schema:
        type: string
      example: adac-camper-des-jahres-der-wettbewerb-fuer
    EventSlug:
      name: slug
      in: path
      required: true
      description: Event slug.
      schema:
        type: string
      example: adventure-northside-2026
    CountryCode:
      name: code
      in: path
      required: true
      description: ISO 3166-1 alpha-2 country code.
      schema:
        type: string
        minLength: 2
        maxLength: 2
      example: DE
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Attribution:
      type: object
      properties:
        data_source:
          type: string
          example: openvan.camp
        license:
          type: string
          example: CC BY 4.0
        attribution_url:
          type: string
          format: uri
          example: https://openvan.camp/
        attribution_html:
          type: string
        your_source:
          type: string
    Pagination:
      type: object
      properties:
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer
        pages:
          type: integer
    Country:
      type: object
      properties:
        code:
          type: string
          example: de
        slug:
          type: string
          example: germany
        name:
          type: string
          example: Germany
        flag_emoji:
          type: string
    Category:
      type: object
      properties:
        slug:
          type: string
          example: festival
        name:
          type: string
          example: Festivals
    SourceArticle:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        summary:
          type: string
          nullable: true
        original_url:
          type: string
          format: uri
        source_name:
          type: string
        published_at:
          type: string
          format: date-time
          nullable: true
        language:
          type: string
        image_url:
          type: string
          format: uri
          nullable: true
    StorySummary:
      type: object
      properties:
        slug:
          type: string
        title:
          type: string
        summary:
          type: string
          nullable: true
        image_url:
          type: string
          format: uri
          nullable: true
        category:
          $ref: '#/components/schemas/Category'
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        first_published_at:
          type: string
          format: date-time
          nullable: true
        articles_count:
          type: integer
        url:
          type: string
          format: uri
    Story:
      allOf:
      - $ref: '#/components/schemas/StorySummary'
      - type: object
        properties:
          last_updated_at:
            type: string
            format: date-time
            nullable: true
          sources:
            type: array
            items:
              $ref: '#/components/schemas/SourceArticle'
          _attribution:
            $ref: '#/components/schemas/Attribution'
    StoriesResponse:
      type: object
      properties:
        stories:
          type: array
          items:
            $ref: '#/components/schemas/StorySummary'
        pagination:
          $ref: '#/components/schemas/Pagination'
        _attribution:
          $ref: '#/components/schemas/Attribution'
    EventSummary:
      type: object
      description: Compact event object returned by the list endpoint /api/events.
      properties:
        id:
          type: integer
        slug:
          type: string
        event_name:
          type: string
        event_type:
          type: string
        event_type_label:
          type: string
        event_type_emoji:
          type: string
        start_date:
          type: string
          format: date
          nullable: true
        end_date:
          type: string
          format: date
          nullable: true
        city:
          type: string
          nullable: true
        country_code:
          type: string
          nullable: true
        country:
          $ref: '#/components/schemas/Country'
        venue_name:
          type: string
          nullable: true
        image_url:
          type: string
          format: uri
          nullable: true
        status:
          type: string
        quality_score:
          type: number
          nullable: true
        articles_count:
          type: integer
          nullable: true
        url:
          type: string
          format: uri
    Event:
      allOf:
      - $ref: '#/components/schemas/EventSummary'
      - type: object
        description: Full event object returned by /api/event/{slug}.
        properties:
          venue_address:
            type: string
            nullable: true
          latitude:
            type: number
            nullable: true
          longitude:
            type: number
            nullable: true
          description:
            type: string
            nullable: true
          summary:
            type: string
            nullable: true
          official_url:
            type: string
            format: uri
            nullable: true
          social_links:
            type: object
            additionalProperties: true
          organizer:
            type: string
            nullable: true
          admission_price:
            type: string
            nullable: true
          seo_title:
            type: string
            nullable: true
          seo_description:
            type: string
            nullable: true
          seo_og_title:
            type: string
            nullable: true
          seo_og_description:
            type: string
            nullable: true
          _attribution:
            $ref: '#/components/schemas/Attribution'
    EventsResponse:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventSummary'
        pagination:
          $ref: '#/components/schemas/Pagination'
        _attribution:
          $ref: '#/components/schemas/Attribution'
    FuelPricesResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/FuelCountry'
        meta:
          type: object
          additionalProperties: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    FuelCountry:
      type: object
      properties:
        country_code:
          type: string
          example: DE
        country_name:
          type: string
          example: Germany
        region:
          type: string
          nullable: true
        currency:
          type: string
          example: EUR
          description: 'Currency of the country''s first price row. A country can price grades in different
            currencies (Venezuela: diesel in USD, gasoline in VES) — always convert each grade with `currencies[grade]`.'
        currencies:
          type: object
          additionalProperties:
            type: string
          description: Currency of each fuel grade (ISO 4217). Use it, not `currency`, to convert a grade's
            price.
          example:
            diesel: USD
            gasoline: VES
        local_currency:
          type: string
          nullable: true
        unit:
          type: string
          example: liter
        units:
          type: object
          additionalProperties:
            type: string
          description: Unit of each fuel grade (liter, gallon, kg, m3). CNG/LPG may be per kg or m3.
          example:
            diesel: liter
            cng: kg
        prices:
          type: object
          description: 'Current price map. Canonical keys: gasoline_regular, gasoline, gasoline_premium,
            gasoline_super, diesel_regular, diesel, diesel_premium, lpg, cng, e85, kerosene, premium.'
          additionalProperties:
            type: number
            nullable: true
        price_changes:
          type: object
          description: Weekly price deltas using the same keys as prices.
          additionalProperties:
            type: number
            nullable: true
        fetched_at:
          type: string
          format: date-time
          nullable: true
        sources:
          type: array
          items:
            type: string
        sources_count:
          type: integer
        is_excluded:
          type: boolean
    CurrencyRatesResponse:
      type: object
      properties:
        success:
          type: boolean
        rates:
          type: object
          additionalProperties:
            type: number
        meta:
          type: object
          properties:
            count:
              type: integer
              description: Number of currencies returned.
            base:
              type: string
              example: EUR
            updated_at:
              type: string
              format: date-time
            refreshed_every_hours:
              type: integer
              example: 6
            max_age_seconds:
              type: integer
              example: 90000
            scope:
              type: string
              description: fiat (default) or all when ?include=all.
              example: fiat
            overrides:
              type: object
              description: Currencies where a market rate replaces the official fixing (e.g. CUP), with
                reason and source.
              additionalProperties: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    VanBasketCountriesResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          additionalProperties:
            type: object
            additionalProperties: true
        meta:
          type: object
          additionalProperties: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    VanBasketCompareResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          additionalProperties: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    VanBasketCountryResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          additionalProperties: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    VanSkyWeather:
      type: object
      description: Current-day weather snapshot used for van scoring.
      properties:
        temp_day:
          type: number
          description: Daytime air temperature in °C.
          nullable: true
        temp_night:
          type: number
          description: Nighttime air temperature in °C.
          nullable: true
        feels_like_day:
          type: number
          nullable: true
        feels_like_night:
          type: number
          nullable: true
        temp_current:
          type: number
          nullable: true
        feels_like_current:
          type: number
          nullable: true
        precip_sum:
          type: number
          description: Total precipitation in mm.
          nullable: true
        precip_prob_max:
          type: number
          description: Max precipitation probability in %.
          nullable: true
        wind_max:
          type: number
          description: Max sustained wind km/h.
          nullable: true
        wind_gusts_max:
          type: number
          description: Max wind gust km/h.
          nullable: true
        wind_dir:
          type: number
          description: Wind direction in degrees.
          nullable: true
        shortwave_radiation_sum:
          type: number
          nullable: true
        peak_sun_hours:
          type: number
          description: Effective sunlight hours for solar panels.
          nullable: true
        uv_max:
          type: number
          nullable: true
        sunrise:
          type: string
          format: date-time
          nullable: true
        sunset:
          type: string
          format: date-time
          nullable: true
        weather_code:
          type: integer
          description: WMO weather code.
          nullable: true
        humidity:
          type: number
          nullable: true
        cloud_cover:
          type: number
          nullable: true
    VanSkyMarine:
      type: object
      description: Marine data for coastal countries; null for landlocked.
      properties:
        sea_temp:
          type: number
          description: Sea temperature in °C.
          nullable: true
        wave_height:
          type: number
          description: Wave height in meters.
          nullable: true
        wave_dir:
          type: number
          description: Wave direction in degrees.
          nullable: true
        wave_period:
          type: number
          description: Wave period in seconds.
          nullable: true
    VanSkyForecastDay:
      type: object
      description: Single forecast day snapshot.
      properties:
        date:
          type: string
          format: date
        van_score:
          type: integer
          description: Overall vanlife suitability 0-100.
          minimum: 0
          maximum: 100
        sleep_score:
          type: integer
          description: Overnight comfort 0-100.
          minimum: 0
          maximum: 100
        temp_day:
          type: number
          nullable: true
        temp_night:
          type: number
          nullable: true
        solar_kwh:
          type: number
          description: Estimated solar energy kWh/day per 1kW panel.
          nullable: true
        weather_code:
          type: integer
          nullable: true
        score_label:
          type: string
          enum:
          - ideal
          - comfortable
          - acceptable
          - harsh
          - extreme
        drive_score:
          type: integer
          minimum: 0
          maximum: 100
    VanSkyRecommendation:
      type: object
      properties:
        type:
          type: string
          enum:
          - info
          - warning
          - danger
          - tip
        key:
          type: string
          description: Translation key, e.g. vansky.rec.awning_caution.
        params:
          type: object
          additionalProperties: true
          description: Numeric params for the translated message.
    VanSkyCountry:
      type: object
      properties:
        code:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: DE
        is_coastal:
          type: boolean
        region:
          type: string
          example: europe
        weather:
          $ref: '#/components/schemas/VanSkyWeather'
        marine:
          $ref: '#/components/schemas/VanSkyMarine'
        forecast:
          type: array
          items:
            $ref: '#/components/schemas/VanSkyForecastDay'
          description: Up to 7 days ahead.
        van_score:
          type: integer
          minimum: 0
          maximum: 100
          description: Today's overall van suitability.
        sleep_score:
          type: integer
          minimum: 0
          maximum: 100
        solar_kwh:
          type: number
          description: Today's solar yield estimate.
          nullable: true
        solar_score:
          type: integer
          minimum: 0
          maximum: 100
          nullable: true
        drive_score:
          type: integer
          minimum: 0
          maximum: 100
          nullable: true
        sea_score:
          type: integer
          minimum: 0
          maximum: 100
          nullable: true
        score_label:
          type: string
          enum:
          - ideal
          - comfortable
          - acceptable
          - harsh
          - extreme
        condensation_risk:
          type: string
          enum:
          - low
          - medium
          - high
          description: Overnight condensation risk inside van.
        awning_status:
          type: string
          enum:
          - safe
          - caution
          - retract
          description: Whether it is safe to deploy an awning.
        drive_window:
          type: object
          nullable: true
          description: Suggested safe driving window today.
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        best_move_day:
          $ref: '#/components/schemas/VanSkyForecastDay'
        recommendations:
          type: array
          items:
            $ref: '#/components/schemas/VanSkyRecommendation'
        fetched_at:
          type: string
          format: date-time
          nullable: true
    VanSkyCountriesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/VanSkyCountry'
        count:
          type: integer
        updated_at:
          type: string
          format: date-time
          nullable: true
        source:
          type: string
          description: Data provider, e.g. open-meteo.
    VanSkyCountryResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/VanSkyCountry'
        updated_at:
          type: string
          format: date-time
          nullable: true
        source:
          type: string
    LicensePlate:
      type: object
      properties:
        number:
          type: string
          example: С065МК
        region:
          type: string
          example: '197'
        formatted:
          type: string
          example: С065МК 197
        image:
          type: object
          nullable: true
          description: Image URLs; null if the plate typeface may not be redistributed.
          properties:
            svg:
              type: string
              format: uri
            png:
              type: string
              format: uri
    LicensePlateCountrySummary:
      type: object
      properties:
        country_code:
          type: string
          example: RU
        country_name:
          type: string
          example: Russia
        intl_code:
          type: string
          nullable: true
          example: RUS
        region_marking:
          type: string
          description: How the region appears on the plate.
          enum:
          - none
          - prefix_letters
          - prefix_digits
          - suffix_digits
          - separate_field
          - text_name
          - mixed
          - legacy_only
        size_mm:
          type: array
          items:
            type: number
          example:
          - 520
          - 112
        example:
          $ref: '#/components/schemas/LicensePlate'
        regions_count:
          type: integer
          example: 96
        glyphs_license:
          type: string
          enum:
          - free
          - sharealike
          - restricted
          description: License of the plate typeface; images and engine are served for free and sharealike.
        url:
          type: string
          format: uri
    LicensePlateRegion:
      type: object
      properties:
        name:
          type: string
          example: Moscow
        iso3166_2:
          type: string
          nullable: true
          example: RU-MOW
        codes:
          allOf:
          - type: array
            items:
              type: string
          example:
          - '77'
          - '97'
          - '99'
          - '177'
        legacy_codes:
          type: array
          items:
            type: string
        note:
          type: string
          nullable: true
    LicensePlateCountry:
      allOf:
      - $ref: '#/components/schemas/LicensePlateCountrySummary'
      - type: object
        properties:
          standard:
            type: string
            nullable: true
          description:
            type: string
            nullable: true
          history:
            type: string
            nullable: true
          regions:
            type: array
            items:
              $ref: '#/components/schemas/LicensePlateRegion'
          types:
            type: array
            description: Plate type breakdown (private, taxi, motorcycle…); empty for countries without
              one.
            items:
              $ref: '#/components/schemas/LicensePlateType'
          sources:
            type: array
            items:
              type: string
          reviewed_at:
            type: string
            format: date
            nullable: true
          engine:
            type: object
            nullable: true
            description: 'Browser engine: load scripts in order, then Plates.render(code, number, region).'
            properties:
              scripts:
                type: array
                items:
                  type: string
                  format: uri
              code:
                type: string
              usage:
                type: string
    LicensePlateType:
      type: object
      description: A plate type/division of the country (see PLATE_TYPES.md taxonomy of classes).
      properties:
        key:
          type: string
          description: Country-specific key, unique within the country.
          example: taxi
        class:
          type: string
          description: 'Shared taxonomy class: private, taxi, commercial, bus, motorcycle, motorcycle_taxi,
            rental, trailer, diplomatic, temporary, test, vanity, international, government, police, military,
            historic.'
          example: taxi
        is_default:
          type: boolean
          description: Type drawn by default (exactly one per country).
        name:
          type: string
        description:
          type: string
          nullable: true
        colors:
          type: object
          nullable: true
          properties:
            text:
              type: string
            background:
              type: string
            border:
              type: string
        size_mm:
          type: array
          nullable: true
          items:
            type: number
          example:
          - 340
          - 150
        format:
          type: string
          nullable: true
          example: กข 1234 / province
        example:
          $ref: '#/components/schemas/LicensePlate'
    LicensePlateTypesResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/LicensePlateType'
        meta:
          type: object
          properties:
            api_version:
              type: integer
              example: 1
        _attribution:
          $ref: '#/components/schemas/Attribution'
    LicensePlatesCatalogResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/LicensePlateCountrySummary'
        meta:
          type: object
          properties:
            api_version:
              type: integer
            total_countries:
              type: integer
        _attribution:
          $ref: '#/components/schemas/Attribution'
    LicensePlateCountryResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/LicensePlateCountry'
        meta:
          type: object
          properties:
            api_version:
              type: integer
              example: 1
        _attribution:
          $ref: '#/components/schemas/Attribution'
    LicensePlateValidateResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            valid:
              type: boolean
            number:
              type: string
            region:
              type: string
            region_name:
              type: string
              nullable: true
            region_iso3166_2:
              type: string
              nullable: true
            type:
              type: string
              nullable: true
              example: private
              description: "Plate type the number was checked as: the requested `type`, or the country's default type key. Null for countries without plate types."
            image:
              type: object
              properties:
                svg:
                  type: string
                  format: uri
                png:
                  type: string
                  format: uri
        meta:
          type: object
          properties:
            api_version:
              type: integer
              example: 1
        _attribution:
          $ref: '#/components/schemas/Attribution'
    LicensePlateRandomResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          allOf:
            - $ref: '#/components/schemas/LicensePlate'
            - type: object
              properties:
                type:
                  type: string
                  nullable: true
                  example: police
                  description: "Plate type the number was generated as: the requested `type`, or the country's default type key. Null for countries without plate types."
        meta:
          type: object
          properties:
            api_version:
              type: integer
              example: 1
        _attribution:
          $ref: '#/components/schemas/Attribution'
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
        error:
          type: string
        message:
          type: string
    TollRate:
      type: object
      properties:
        vehicle_class:
          type: string
          enum:
          - car
          - van
          - heavy
          description: car; van = campervan/motorhome up to 3.5 t; heavy = over 3.5 t.
        system_type:
          type: string
          enum:
          - closed
          - open
          - free_flow
          - vignette
          - free
        rate_per_km_local:
          type: number
          nullable: true
        currency:
          type: string
          example: EUR
        rate_per_km_eur:
          type: number
          nullable: true
          description: Converted at the current exchange rate.
        seasonal:
          type: object
          nullable: true
        verified_at:
          type: string
          format: date
          nullable: true
        source_url:
          type: string
          format: uri
    TollVignette:
      type: object
      properties:
        vehicle_class:
          type: string
        period:
          type: string
          example: 10day
        valid_days:
          type: integer
        price_local:
          type: number
        currency:
          type: string
        price_eur:
          type: number
          nullable: true
        verified_at:
          type: string
          format: date
          nullable: true
        source_url:
          type: string
          format: uri
        buy_url:
          type: string
          format: uri
          nullable: true
    TollCountrySummary:
      type: object
      properties:
        country_code:
          type: string
          example: FR
        name:
          type: string
        system_type:
          type: string
          nullable: true
          enum:
          - closed
          - open
          - free_flow
          - vignette
          - free
          - null
          description: 'Payment system for a passenger car. Heavier classes can differ (Poland and Belarus:
            free for cars, per-km for over 3.5 t) — read rates[].system_type per vehicle_class.'
        rates:
          type: array
          items:
            $ref: '#/components/schemas/TollRate'
        vignettes:
          type: array
          items:
            $ref: '#/components/schemas/TollVignette'
        sections_count:
          type: integer
        objects_count:
          type: integer
        verified_at:
          type: string
          format: date
          nullable: true
    TollCountriesResponse:
      type: object
      properties:
        count:
          type: integer
        vehicle_classes:
          type: array
          items:
            type: string
        countries:
          type: array
          items:
            $ref: '#/components/schemas/TollCountrySummary'
        _attribution:
          $ref: '#/components/schemas/Attribution'
    TollCountryResponse:
      allOf:
      - $ref: '#/components/schemas/TollCountrySummary'
      - type: object
        properties:
          sections:
            type: array
            description: Concession sections with their own per-km rates.
            items:
              type: object
              properties:
                slug:
                  type: string
                name:
                  type: string
                rates_per_km_by_class:
                  type: object
                  additionalProperties:
                    type: number
                currency:
                  type: string
                verified_at:
                  type: string
                  format: date
                  nullable: true
                source_url:
                  type: string
                  format: uri
          objects:
            type: array
            description: Toll bridges, tunnels, passes and ferries with a fixed price.
            items:
              type: object
              properties:
                slug:
                  type: string
                name:
                  type: string
                kind:
                  type: string
                  enum:
                  - bridge
                  - tunnel
                  - ferry
                  - pass
                  - gate
                length_km:
                  type: number
                  nullable: true
                lat:
                  type: number
                lng:
                  type: number
                prices_by_class:
                  type: object
                  additionalProperties:
                    type: number
                currency:
                  type: string
                prices_eur_by_class:
                  type: object
                  additionalProperties:
                    type: number
                    nullable: true
                verified_at:
                  type: string
                  format: date
                  nullable: true
                source_url:
                  type: string
                  format: uri
          _attribution:
            $ref: '#/components/schemas/Attribution'
    TollRouteResponse:
      type: object
      properties:
        waypoints:
          type: array
          items:
            type: string
        points:
          type: array
          description: Where each place name resolved to — check country_code to catch ambiguous names.
          items:
            type: object
            properties:
              name:
                type: string
              lat:
                type: number
              lon:
                type: number
              country_code:
                type: string
                nullable: true
        distance_km:
          type: integer
        vehicle_class:
          type: string
        route_countries:
          type: array
          items:
            type: string
          description: Countries the route passes through, in order.
        total_eur:
          type: number
          nullable: true
        range_eur:
          type: object
          nullable: true
          properties:
            min:
              type: number
            max:
              type: number
          description: 'Honest range: exit choice in closed systems changes the price.'
        partial:
          type: boolean
          description: true = not all tolls are included; see unknown_countries and unchecked_countries.
        unknown_countries:
          type: array
          items:
            type: string
          description: Countries on the route with no toll data in our reference (or none for this vehicle
            class). Not the same as toll-free.
        unchecked_countries:
          type: array
          items:
            type: string
          description: Countries with per-km tolls where tolled kilometres on this route could not be
            measured.
        items:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - per_km
                - section
                - vignette
                - object
              country:
                type: string
              amount_local:
                type: number
              currency:
                type: string
              amount_eur:
                type: number
                nullable: true
              meta:
                type: object
              verified_at:
                type: string
                format: date
                nullable: true
              source_url:
                type: string
                format: uri
        _attribution:
          $ref: '#/components/schemas/Attribution'
    HolidayCountriesResponse:
      type: object
      properties:
        count:
          type: integer
        kinds:
          type: array
          items:
            type: string
        countries:
          type: array
          items:
            type: object
            properties:
              country_code:
                type: string
              name:
                type: string
              public:
                type: boolean
              school:
                type: boolean
              traffic:
                type: boolean
              sources:
                type: array
                items:
                  type: string
        upstream:
          type: array
          description: Primary sources of the dataset and their licenses.
          items:
            type: object
            properties:
              source:
                type: string
              name:
                type: string
              url:
                type: string
                format: uri
              license:
                type: string
                nullable: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    HolidayItem:
      type: object
      properties:
        country_code:
          type: string
        kind:
          type: string
          enum:
          - public
          - school
          - traffic
        start:
          type: string
          format: date
        end:
          type: string
          format: date
        name:
          type: string
          description: Name in the requested locale.
        name_en:
          type: string
          nullable: true
        name_local:
          type: string
          nullable: true
        category:
          type: string
          nullable: true
          description: 'School: holiday season (e.g. autumn). Traffic: worst colour of the day.'
        nationwide:
          type: boolean
        regions:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                example: DE-HE
              name:
                type: string
        details:
          type: object
          nullable: true
          description: 'For traffic days: {departure, return} colours green/orange/red/black.'
        source:
          type: string
          enum:
          - nager
          - openholidays
          - bisonfute
        source_url:
          type: string
          format: uri
    HolidaysResponse:
      type: object
      properties:
        country_code:
          type: string
        name:
          type: string
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        covered:
          type: boolean
          description: false = no data for this country (HTTP 404), not "no holidays".
        count:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/HolidayItem'
        upstream:
          type: array
          description: Primary sources of the dataset and their licenses.
          items:
            type: object
            properties:
              source:
                type: string
              name:
                type: string
              url:
                type: string
                format: uri
              license:
                type: string
                nullable: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    HazardEvent:
      type: object
      properties:
        type:
          type: string
          enum:
          - FL
          - EQ
          - TC
          - WF
          - DR
          - VO
        alert_level:
          type: string
          enum:
          - green
          - orange
          - red
        name:
          type: string
        country_code:
          type: string
        lat:
          type: number
        lng:
          type: number
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
          nullable: true
        severity:
          type: string
          nullable: true
        url:
          type: string
          format: uri
        source:
          type: string
          example: gdacs
    HazardsCountryResponse:
      type: object
      properties:
        country_code:
          type: string
        name:
          type: string
        advisory:
          type: object
          nullable: true
          properties:
            level:
              type: string
            severity:
              type: integer
              description: 0 (none) to 4 (avoid all travel to the whole country).
            url:
              type: string
              format: uri
            updated_at:
              type: string
              format: date
            summary:
              type: string
              nullable: true
            source:
              type: string
              example: fcdo
        advisory_levels:
          type: array
          items:
            type: string
        events:
          type: array
          items:
            $ref: '#/components/schemas/HazardEvent'
        upstream:
          type: array
          description: Primary sources of the dataset and their licenses.
          items:
            type: object
            properties:
              source:
                type: string
              name:
                type: string
              url:
                type: string
                format: uri
              license:
                type: string
                nullable: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    FiresResponse:
      type: object
      properties:
        bbox:
          type: array
          items:
            type: number
        count:
          type: integer
        fires:
          type: array
          items:
            type: object
            properties:
              lat:
                type: number
              lng:
                type: number
              frp:
                type: number
                description: Fire radiative power, MW.
              seen_at:
                type: string
                format: date-time
              confidence:
                type: string
                description: n = nominal, h = high.
        upstream:
          type: array
          description: Primary sources of the dataset and their licenses.
          items:
            type: object
            properties:
              source:
                type: string
              name:
                type: string
              url:
                type: string
                format: uri
              license:
                type: string
                nullable: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    ElectricityCountry:
      type: object
      properties:
        country_code:
          type: string
        name:
          type: string
        plugs:
          type: array
          items:
            type: string
            example: F
          description: IEC plug type letters A–N.
        voltage:
          type: integer
          description: Nominal voltage, V.
        frequency:
          type: integer
          description: Hz.
    ElectricityCampsites:
      type: object
      description: Campsite hook-up in Europe.
      properties:
        scope:
          type: string
          example: europe
        connector:
          type: string
          example: CEE17
        share_percent:
          type: integer
        amps:
          type: array
          items:
            type: integer
          description: Typical current range, A.
        reversed_polarity_common:
          type: boolean
        source:
          type: object
          properties:
            name:
              type: string
            url:
              type: string
              format: uri
            checked:
              type: string
              format: date
        countries:
          type: array
          items:
            type: string
    ElectricityCountriesResponse:
      type: object
      properties:
        count:
          type: integer
        countries:
          type: array
          items:
            $ref: '#/components/schemas/ElectricityCountry'
        campsites:
          $ref: '#/components/schemas/ElectricityCampsites'
        upstream:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              url:
                type: string
                format: uri
              license:
                type: string
                nullable: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    ElectricityCountryResponse:
      allOf:
      - $ref: '#/components/schemas/ElectricityCountry'
      - type: object
        properties:
          source:
            type: object
            properties:
              name:
                type: string
              url:
                type: string
                format: uri
              row:
                type: string
          wikidata_plugs:
            type: array
            items:
              type: string
          campsites:
            $ref: '#/components/schemas/ElectricityCampsites'
          _attribution:
            $ref: '#/components/schemas/Attribution'
    CustomsCatalogResponse:
      type: object
      properties:
        blocs:
          type: object
          additionalProperties:
            type: object
            properties:
              members:
                type: array
                items:
                  type: string
              name:
                type: string
        jurisdictions:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              topics:
                type: array
                items:
                  type: string
        built:
          type: string
          format: date
          nullable: true
        _attribution:
          $ref: '#/components/schemas/Attribution'
    CustomsItem:
      type: object
      properties:
        jurisdiction:
          type: string
          example: EU
        topic:
          type: string
          enum:
          - food
          - food_penalty
          - cash
          - alcohol
          - tobacco
          - value
          - fuel
        severity:
          type: string
          enum:
          - ban
          - declare
          - limit
        summary:
          type: string
        value:
          type: object
          nullable: true
          description: Machine-readable limit, e.g. {amount, currency} for cash.
        exempt_from:
          type: array
          items:
            type: string
          description: Countries of departure the rule does not apply to.
        quote:
          type: string
          description: Verbatim quote of the official source.
        source_name:
          type: string
        source_url:
          type: string
          format: uri
        checked:
          type: string
          format: date
    CustomsCountryResponse:
      type: object
      properties:
        country_code:
          type: string
        name:
          type: string
        from:
          type: string
          nullable: true
        blocs:
          type: array
          items:
            type: string
        covered:
          type: boolean
          description: false = no data for this country (HTTP 404), not "nothing is restricted".
        items:
          type: array
          items:
            $ref: '#/components/schemas/CustomsItem'
        _attribution:
          $ref: '#/components/schemas/Attribution'
